* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
}

body {
  font-family: "Sanchez", sans-serif;
  background: #000;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;
}


/*portada*/

.portada {
  background-image: url(../img/9.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.opacidad { 
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 6.5em;
}


.inner{
  position: absolute;
  width: 100%;
  height: 27%;
  top: 30px;
  margin: 0 0 2em 0;
  padding: 10px  0;
  text-align: center;
}

.banner{
  position: absolute;
  opacity: .9;
  padding: 23px;
  width: 70%;
  height: 250px;
  left: 11%;
  top: 25%;
}

#typewriter{
  position: absolute;
  z-index: 1;
  font-size:5vw;
  font-weight: bolder;
  color: #fff;
  font-family: "Orbitron";
  text-transform: uppercase;
  pointer-events: none;
  line-height: 1;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.front , .cualidades{
  top:80px;
  left: 0;
  position: absolute;
  font-size:2.5vw;
  color:#FFF;
  font-family: "Orbitron";
  text-transform: uppercase;
  pointer-events: none;
  line-height: 1;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.cualidades{
  top:110px;
  font-size:1.5vw;
}

.pd-top {
    margin-top: 10.5em;
}

/* quien soy*/


.about-me {
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.fondo-w {
    background-color: #000;
    color: #FFF;
    margin-top: -20px;
}


.about-me:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
}

.image{
    background-image: url("../img/yk1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 420px;
    margin: 0 auto;
    box-shadow: inset 0px 0px 55px 13px rgba(33,30,30,0.8);
}

.h-foto {
    padding-top: 7em;
}

.titulo, strong{
    color: #3893dc;
}


.descrip {
    margin-top: 1.8em;
    margin-bottom: 0.6em;
    font-size: 1em;
    color: #e7f0f5;
}

/*proyectos*/

.projects {
    background-color: #0526cb;
    height: 140vh;
    position: relative;
    z-index: 0;
    position: relative;
}

.projects:before {
    content: "";
    width: 100%;
    position: absolute;
    background-color: #0526cb;
    z-index: 1;
    bottom: 0;
    transform-origin: right top;
    transform: skewY(-3deg);
}

.tittle{
    color: #fff;
}


.boton {
    background-color: #c9dbe5;
    color: rgb(23, 24, 32);
    font-size: 1.2em;
    margin-right: 0.8em;
    margin-top: 1.8em;
}

.boton:hover{
   background-color: rgb(0,1,40);
   color:#fff;
}

.proyectos{
  margin-top: 20px;
}

.proyecto{
  color:#0526cb;
}


.presentacion{
    width: 100%;
    height: 200px;
}

.portaflioContainer{
  margin-top: 10%;
}


/*slider*/

.slider{
  top: 80px;
}


.frase {
    padding-top: 2%;
    height: 30vh;
    position: relative;
    z-index: 1;
    color: #FFF;
    font-size: 2em;
}

.frase:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #02010f;
    z-index: -1;
    bottom: 0;
    transform-origin: right top;
    transform: skewY(-3deg);
}

.frase:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:#02010f;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(3deg);
}

/*habilidades*/

.h-des {
    padding: 3.8em 4.5em 0em;
}

.skills {
    height: 120vh;
    background-color: #b6bae0;
    padding: 5.5em;
    color: #FFF;
}


.mg-b {
    margin-bottom: 1.5em;
    color: rgb(23, 24, 32);
}
.mg-l{
  color: rgb(23, 24, 32);
}

.mg-l img{
    width: 6%;
    margin-left: 5%;
}

.barra {
    width: 90%;
    height: 56px;
    background-color: rgb(23, 24, 32);
    margin: 0 auto;
}

.porcentaje {
    height: 56px;
    background-color: #021aa0;
    padding-top: 1.1em;
}

.p90 {
    width: 90%;
}

.p80 {
    width: 80%;
}

.p70 {
    width: 70%;
}

.p65 {
    width: 65%;
}

.p60 {
    width: 60%;
}

.mg-br {
    margin-bottom: 1.8em;
}


/*contacto*/

.contacto {
    height: 88vh;
    position: relative;
    z-index: 1;
}

.contacto:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(67,106,147,1);
    bottom: 0;
    z-index: -1;
    transform-origin: right top;
    transform: skewY(3deg);
}

.section-heading{
  color: #f2f9fb;
}

.footer {
    background-color: #00000d;
    height: 17vh;
    position: relative;
    z-index: 1;
    padding-top: 2em;
}

.footer:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000d;
    bottom: 0;
    z-index: -1;
    transform-origin: right top;
    transform: skewY(3deg);
}

.text-footer {
    font-size: 1.1em;
    margin: 0;
    padding-bottom: 2%;
}

.border-fot {
    border-bottom: 0.15em solid #082be5;
    width: 100%;
    margin-top: 0.8em;
}

.u-foot {
    padding-left: 7.8em;
    display: inline-block;
}

.u-foot a {
    margin-right: 0.5em;
}

.contact-me {
    position: absolute;
    padding-top: 6em;
    width: 100%;
}

.mail {
    color: #c6dde5;
    font-size: 5em;
    line-height: 0.8em;
    padding-top: 0.08em;
}

.laptop {
    width: 9%;
    margin-right: 2.1em;
}

.icon-mail {
    width: 10%;
}



::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 9px rgb(0,0,0);
    border-radius: 3em;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(217,218,244);
    border-radius: 1em;
}

